input {
  background-color: white;
  padding: 10px 24px;
  -webkit-transition-duration: 0.3s; /* Safari */
 transition-duration: 0.3s;
 width: 100%;
}
input:hover {
  background-color: red; /* Green */
    color: white;
}
